*.class

# Package Files #
*.jar
*.war
*.ear

# Directories #
build/**
bin/**
lib/**
.settings/**

# Eclipse Project Files #
.project
.classpath

#
*.kate-swp
*.swp
*~

jdbc.properties
build.properties